afinn==0.1
allennlp==2.9.3
beautifulsoup4==4.11.1
community==1.0.0b1
matplotlib==3.3.4
networkx==2.5
nltk==3.7
numpy==1.20.1
pandas==1.2.4
requests==2.25.1
scikit_learn==1.1.0
stanza==1.4.0
torch==1.10.0
torch_geometric==2.0.4
tqdm==4.64.0
